# For Altium
History/
__Previews/
*.SchDocPreview
*.PcbDocPreview
*.LOG
*.PrjPcbStructure
*.aws

# Build and Release Folders
bin/
bin-debug/
bin-release/
Hardware/RefPoint/RefPoint01-00/Avr Studio/refpoint01-00.aws
Hardware/RefPoint/RefPoint01-00/Avr Studio/refpoint01-00.aws
